<% include partials/header %>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">Confer</a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/preprocess">Preprocess</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/compare">Compare</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/paint">Paint</a>
            </li>
        </ul>
    </div>
    <!-- <ul class="navbar-nav navbar-right">
        <a class="nav-link" href="/logout">Logout</a>
    </ul> -->
</nav> 

<% include partials/footer %>